<div class="main posts-new">
    <div class="container">
        <div class="form-heading">編集する</div>
        <%=form_tag("/posts/#{@post.id}/update")do%>
        <div class="form">
            <div class="form-body">
                <!-- error message -->
                <% @post.errors.full_messages.each do |message| %>
                <div class="form_error">
                    <%= message %>
                </div>
                <% end %>
                <textarea name="boyaki">
                    <%=@post.boyaki%>
                </textarea>
                <input type="submit" value="喋る"></input>
            </div>
        </div>
        <%end%>
    </div>
</div>